.app {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;

  .banner {
    max-width: 1600px;
    margin-top: 130px;
  }

  .content {
    // display: flex;
    padding-bottom: 200px;
    background-color: #c1c1c1;
  }
}
